<!DOCTYPE HTML>
<html>
	<head>
        <meta name="viewport" content="width = device-width, initial-scale = 1">
        <title>Sign up page</title>
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel='stylesheet' href='../stylesheets/all-notes-page.css'/>
         <link rel='stylesheet' href='../stylesheets/style.css'/>
        <!-- <link rel='stylesheet' href='/style.css' /> -->
    </head>
    <body>
      <div id="all-notes-page">
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header design-yellow right-padding">
            <a class="navbar-brand inline-block middle" href="/"><img class="logo" src="img/newellove.png"></a>
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <div id ="nav-indulge" class="inline-block">
                <p class="gabriola design-purple">
                  Indulge
                </p>
              </div>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse design-yellow" id="bs-example-navbar-collapse-1">
              <!-- <ul class="nav navbar-nav">
                <li><a href="/notes/new">Create a Note <span class="sr-only">(current)</span></a></li>
                <li><a href="/notes">View my Notes</a></li>
                <li><a href="/theme">Weekly Gratitude</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li>
              </ul> -->
              <!-- <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
              </form> -->
              <ul class="nav navbar-nav navbar-right">
                <li class="text-sm design-purple"><a href="users/new">Signup</a></li>
                <li class="text-sm design-purple"><a href="/login">Log in</a></li>
                <li class="right-padding text-sm design-purple"><a href="/logout">Logout</a></li>
                <!-- <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                  </ul>
                </li> -->
              </ul>
            </div><!-- /.navbar-collapse -->
            <div class="container-fluid">
              <div id="icon-navbar">
                <div class="container full-width">
                  <div class="row">
                    <div class="col-xs-4" onclick="document.location = '/notes/new'">
                      <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    </div>
                    <div class="col-xs-4" onclick="document.location = '/notes'">
                    <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
                    </div>
                    <div class="col-xs-4" onclick="document.location = '/theme'">
                    <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- /.container-fluid -->
        </nav>
		<div class='all-notes'>
			<div class="container">
			  <div class="row">
			    <div class="col-xs-6">
			    	<div class="my-notes">
			    		<p class="design-purple text-md">My Notes</p>
						<% myNotes.forEach(function(mnt) { %>
							<!-- <div class="box"> -->
							<a data-id="<%= mnt.title %>" data-id2="<%= mnt.description %>" data-id3="<%= mnt.id %>" data-id4="<%= user.id %>" title="Add this item" class="open-AddBookDialog box blue text-white overflow text-sm" href="#addBookDialog"><%= mnt.title %></a>
							<!-- </div> -->
							<div class="modal fade text-sm" id="addBookDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
							  <div class="modal-dialog">
							    <div class="modal-content">
							      <div class="modal-header">
							        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							        <h4 class="modal-title text-md design-purple" id="myModalLabel">Title</h4>
							        <input type="text" name="bookId" id="bookId" value="" />
							      </div>
							      <div class="modal-body">
							      	<h4 class="modal-title text-md design-purple" id="myModalLabel">Description</h4>
							        <input type="text" name="bookId2" id="bookId2" value="" />
							      </div>
							      <div class="modal-footer">
							      	<div>
									    <form id="pencil" action="/notes/<%= mnt.id %>/edit">
										    <button type="submit">
									       	<span class="glyphicon glyphicon-pencil grey" aria-hidden="true"></span></button>
									     </form>

									    <form  id="trash" method="POST" action="/notes/<%=mnt.id%>?_method=delete">
									       <button type="submit">
									       	<span class="glyphicon glyphicon-trash grey" aria-hidden="true"></span></button>
									     </form>
									  </div>
							      </div>
							    </div><!-- /.modal-content -->
							  </div><!-- /.modal-dialog -->
							</div><!-- /.modal -->
						<% }) %>
					</div>
				</div>
				<div class="col-xs-6">
			    	<div class="partner-notes">
			    		<p class="design-purple text-md">Partner's Notes</p>
						<% pNotes.forEach(function(pnt) { %>
							<!-- <div class="box"> -->
							<a data-id="<%= pnt.title %>" data-id2="<%= pnt.description %>" title="Add this item" class="open-AddBookDialog box pink overflow text-sm" href="#addBookDialog"><%= pnt.title %></a>
							<!-- </div> -->
						<% }) %>
					</div>
				</div>
			  </div>
			</div>
		</div>
	  </div>
	</body>
</html>

<script>
$(document).on("click", ".open-AddBookDialog", function (e) {
  // if (user.id!=pNotes.UserId) {
  //   $("form").addClass("hide");
  // }
	e.preventDefault();

	var _self = $(this);

	var myBookId = _self.data('id');
	$("#bookId").val(myBookId);
	var myBookId2 = _self.data('id2');
	$("#bookId2").val(myBookId2);
	var myBookId3 = _self.data('id3');
	$("#bookId3").val(myBookId3);
	var myBookId4 = _self.data('id4');
	$("#bookId4").val(myBookId4);
	$(_self.attr('href')).modal('show');
});
</script>

